# Ignore the virtual environment folder
venv/

# Ignore SQLite database
data/passwords.db
passwords.db
password_manager.db
password_manager.db/

# Ignore PyInstaller build artifacts
dist/
build/
*.spec

pycache
